h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 20px;
  padding-bottom: 4px;
  user-select: none;
}
#container {
  width: 330px;
  height: 50px;
  background-color: bisque;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#current-time {
  width: 40px;
  padding-left: 5px;
}
#total-time {
  width: 40px;
  padding-left: 10px;
}
#play-pause-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}
#seek-bar {
  width: 150px;
  margin-left: 10px;
  cursor: pointer;
}